@model MyEgitimAkademi_Portfolio.Models.Testimonial
@{
    ViewBag.Title = "UpdateTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Referans Güncelleme Sayfası</h2>

<form method="post">
    <label>Referans Id</label>
    @Html.TextBoxFor(x => x.TestimonialId, new { @class = "form-control" })
    <label>Referans Adı Soyadı</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <label>Referans Ünvan</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <label>Referans Görsel</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <label>Referans Yorum</label>
    @Html.TextAreaFor(x => x.Title, 5, 1, new { @class = "form-control" })
    <button class="btn btn-outline-success">Verileri Güncelle</button>
</form>